<header id="masthead" class="site-header site-header--default">
    <div class="primary-header">
        <div class="container">
            <div class="primary-header-inner">
                <div class="site-branding">

                    <a href="#/home" aria-title="Listify Classic" rel="home"
                       class="custom-header">
                        <img style="    width: 128px;
    height: 75px;" src="assets/Logo-EducUP_Blue.png"
                             alt="" aria-hidden="true" role="presentation" class="custom-header-image"/>

                    </a>

                    <h2 class="site-title"><a href="https://listify-demos.astoundify.com/classic/" rel="home">Listify
                        Classic</a></h2>
                    <h3 class="site-description">The last WordPress directory theme you will ever buy.</h3>

                </div>

                <div class="primary nav-menu">
                    <div class="nav-menu-container">
                        <ul id="menu-primary" class="menu">


                            <li id="menu-item-833"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833"><a
                                    href="https://listify-demos.astoundify.com/classic/my-account/"
                                    class="popup-trigger-ajax">Se Connecter</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="search-header" class="search-overlay">
                <div class="container">

                    <form role="search" method="get" class="search-form"
                          action="https://listify-demos.astoundify.com/classic/listings/">
                        <label>
                            <span class="screen-reader-text">Search for:</span>
                            <input type="search" class="search-field" placeholder="Search" value=""
                                   name="search_keywords" title="Search for:"/>
                        </label>
                        <button type="submit" class="search-submit"></button>
                    </form>
                    <a href="#search-header" data-toggle="#search-header"
                       class="ion-close search-overlay-toggle"></a>
                </div>
            </div>
        </div>
    </div>

    <nav id="site-navigation" class="main-navigation main-navigation--default">
        <div class="container">
            <a href="#" class="navigation-bar-toggle">
                <i class="ion-navicon-round"></i>
                <span class="mobile-nav-menu-label">Primary</span>
            </a>

            <div class="navigation-bar-wrapper">
                <div class="primary nav-menu">
                    <ul id="menu-primary-1" class="primary nav-menu">
                        <li class="menu-item menu-type-link"><a href="#search-header" data-toggle="#search-header"
                                                                class="search-overlay-toggle"></a></li>
                        <li class="menu-item menu-type-link"><a
                                href="https://listify-demos.astoundify.com/classic/shop/" class="current-cart"><span
                                class="current-cart-count">0</span> Items</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-984">
                            <a href="#">Explore</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-job_listing_category menu-item-1380">
                                    <a href="https://listify-demos.astoundify.com/classic/listing-category/arts-entertainment/">Arts
                                        &#038; Entertainment</a></li>
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-job_listing_category menu-item-1384">
                                    <a href="https://listify-demos.astoundify.com/classic/listing-category/restaurants/">Restaurants</a>
                                </li>
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-job_listing_category menu-item-1381">
                                    <a href="https://listify-demos.astoundify.com/classic/listing-category/lodging/">Lodging</a>
                                </li>
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-job_listing_category menu-item-1382">
                                    <a href="https://listify-demos.astoundify.com/classic/listing-category/nightlife/">Nightlife</a>
                                </li>
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-job_listing_category menu-item-1383">
                                    <a href="https://listify-demos.astoundify.com/classic/listing-category/outdoors/">Outdoors</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1371">
                            <a href="https://listify-demos.astoundify.com/classic/how-it-works/">Learn</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1401">
                                    <a href="https://listify-demos.astoundify.com/classic/listify-works-for-your-business/">How
                                        It Works</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1416">
                                    <a href="https://listify-demos.astoundify.com/classic/add-listing/">Pricing
                                        Plans</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1407">
                                    <a href="https://listify-demos.astoundify.com/classic/shop/">Deals &#038;
                                        Coupons</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-870"><a
                                href="https://listify-demos.astoundify.com/classic/blog/">Blog</a></li>
                        <li class="ion-android-add menu-item menu-item-type-post_type menu-item-object-page menu-item-1314">
                            <a href="https://listify-demos.astoundify.com/classic/add-listing/">Add Your Listing</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833"><a
                                href="https://listify-demos.astoundify.com/classic/my-account/"
                                class="popup-trigger-ajax">Log In</a></li>
                    </ul>
                </div>
            </div>

            <a href="#search-navigation" data-toggle="#search-navigation"
               class="ion-search search-overlay-toggle"></a>

            <div id="search-navigation" class="search-overlay">

                <form role="search" method="get" class="search-form"
                      action="https://listify-demos.astoundify.com/classic/listings/">
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" class="search-field" placeholder="Search" value=""
                               name="search_keywords" title="Search for:"/>
                    </label>
                    <button type="submit" class="search-submit"></button>
                </form>

                <a href="#search-navigation" data-toggle="#search-navigation"
                   class="ion-close search-overlay-toggle"></a>
            </div>
        </div>
    </nav><!-- #site-navigation -->
</header>