<div class="footer-wrapper">


    <footer class="site-footer-widgets">
        <div class="container">
            <div class="row">

                <div class="footer-widget-column col-xs-12 col-sm-12 col-lg-5">
                    <aside id="text-2" class="footer-widget widget_text">
                        <div class="textwidget">
                            <img class="logo" src="assets/Logo-EducUP_Blue.png"
                            />
                            <p>
                                EduKup permet de chercher les établissement scolaires dans un secteur

                        </div>
                    </aside>
                </div>

                <div class="footer-widget-column col-xs-12 col-sm-6 col-lg-3 col-lg-offset-1">
                    <aside id="nav_menu-1" class="footer-widget widget_nav_menu"><h4 class="footer-widget-title">
                        RESOURCES</h4>
                        <div class="menu-social-widget-menu-container">
                            <ul id="menu-social-widget-menu" class="menu">
                                <li id="menu-item-1415"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1415"><a
                                        href="http://themeforest.net/item/listify-wordpress-directory-theme/9602611?ref=Astoundify">Get
                                    the Theme</a></li>
                                <li id="menu-item-1413"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1413"><a
                                        href="https://listify-demos.astoundify.com/classic/shop/">Deals &#038;
                                    Coupons</a></li>
                                <li id="menu-item-1412"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1412"><a
                                        href="https://listify-demos.astoundify.com/classic/how-it-works/">How It
                                    Works</a></li>
                                <li id="menu-item-1414"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1414"><a
                                        href="https://listify-demos.astoundify.com/classic/blog/">Articles &#038;
                                    Tips</a></li>
                                <li id="menu-item-1411"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1411"><a
                                        href="https://listify-demos.astoundify.com/classic/terms-of-service/">Terms of
                                    Service</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>

                <div class="footer-widget-column col-xs-12 col-sm-6 col-lg-3">
                    <aside id="nav_menu-2" class="footer-widget widget_nav_menu"><h4 class="footer-widget-title">
                        Company</h4>
                        <div class="menu-need-help-menu-container">
                            <ul id="menu-need-help-menu" class="menu">
                                <li id="menu-item-820"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-820"><a
                                        href="https://astoundify.com/support/">Help Center</a></li>
                                <li id="menu-item-822"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-822"><a
                                        href="https://listify-demos.astoundify.com/classic/about-listify/">About
                                    Listify</a></li>
                                <li id="menu-item-823"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-823"><a
                                        href="https://listify-demos.astoundify.com/classic/blog/">Listify Blog</a></li>
                                <li id="menu-item-824"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-824"><a
                                        href="#">Careers</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </footer>


    <footer id="colophon" class="site-footer">
        <div class="container">

            <div class="site-info">
                EduKup 2016. All Rights Reserved
            </div><!-- .site-info -->

            <div class="site-social">
                <div class="menu-social-container">
                    <ul id="menu-social" class="nav-menu-social">
                        <li id="menu-item-815"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-815"><a
                                href>facebook</a></li>
                        <li id="menu-item-816"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-816"><a
                                href>twitter</a></li>
                        <li id="menu-item-817"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-817"><a
                                href>google</a></li>
                        <li id="menu-item-818"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-818"><a
                                href>instagram</a></li>
                        <li id="menu-item-819"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-819"><a
                                href>vimeo</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </footer><!-- #colophon -->

</div>