<div id="content" class="site-content">


    <div ng-controller="SearchController" ng-include="'app/components/home/search/search.html'"></div>

    <div class="container homepage-hero-style-image">


        <aside id="listify_widget_recent_listings-1" class="home-widget listify_widget_recent_listings">
            <div class="home-widget-section-title">
                <h2 class="home-widget-title">Les écoles avec le plus de tendance</h2>
            </div>
            <ul class="job_listings">


                <li itemscope itemtype="http://schema.org/LocalBusiness" id="job_listing-1299"
                    data-grid-columns="col-xs-12 col-sm-6 col-md-4" data-rating="0 Stars"
                    class="post-1299 job_listing type-job_listing status-publish hentry job_position_featured listing-featured--badge col-xs-12 col-sm-6 col-md-4 style-grid">

                    <div class="content-box">

                        <div class="job-manager-form wp-job-manager-bookmarks-form">
                            <div class="bookmark-action">
                                <a class="bookmark-notice"
                                   href="https://listify-demos.astoundify.com/classic/my-account/">
                                    <span class="screen-reader-text">Login to bookmark this Listing</span>
                                </a>


		<span class="wp-job-manager-bookmarks-count wp-job-manager-bookmarks-count--archive">
							11					</span>
                            </div>
                        </div>

                        <a href="#/profile"
                           class="job_listing-clickbox"></a>

                        <header style="background-image: url(assets/maxresdefault.jpg);"
                                class="job_listing-entry-header listing-cover has-image">

                            <div class="job_listing-entry-header-wrapper cover-wrapper">

                                <div class="job_listing-entry-thumbnail">
                                    <div style="background-image: url(assets/ecole-primaire-insolite-pajol-paris.jpg);"
                                         class="list-cover has-image"></div>
                                </div>
                                <div class="job_listing-entry-meta">

                                    <div class="listing-featured-badge">
                                        Featured
                                    </div>

                                    <h2 itemprop="name" class="job_listing-title">
                                        Lycée pilote sfax </h2>
                                    <div class="job_listing-location job_listing-location-formatted"><a
                                            class="google_map_link"
                                            href="http://maps.google.com/maps?daddr=43.6435899%2C-79.4022922"
                                            target="_blank"><span itemprop="address" itemscope
                                                                  itemtype="http://schema.org/PostalAddress"></a></div>
                                    <div class="job_listing-phone">
                                            <span itemprop="telephone"><a
                                                    href="tel:4164567321">(416) 456-7321</a></span>
                                    </div>

                                </div>

                            </div>

                        </header><!-- .entry-header -->

                        <footer class="job_listing-entry-footer">

                            <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"
                                 class="rating-0 job_listing-rating-wrapper" title="2 Reviews">
			<span class="job_listing-rating-stars">
				<span class="star-icon"><span class="ion-ios-star"></span></span><span class="star-icon"><span
                    class="ion-ios-star"></span></span><span class="star-icon"><span class="ion-ios-star"></span></span><span
                    class="star-icon"><span class="ion-ios-star"></span></span><span class="star-icon"><span
                    class="ion-ios-star-half"></span></span>			</span>

			<span class="job_listing-rating-average">
				<span itemprop="ratingValue">4.5</span>
				<meta itemprop="bestRating" content="5"/>
				<meta itemprop="worstRating" content="1"/>
			</span>
			<span class="job_listing-rating-count">
				<span itemprop="ratingCount">2</span> Reviews			</span>
                            </div>

                            <div class="listing-entry-company-image listing-entry-company-image--card listing-entry-company-image--type-logo listing-entry-company-image--style-circle">


                            </div>


                        </footer><!-- .entry-footer -->


                    </div>
                </li><!-- #post-## -->


                <li itemscope itemtype="http://schema.org/LocalBusiness" id="job_listing-998"
                    data-grid-columns="col-xs-12 col-sm-6 col-md-4" data-rating="0 Stars"
                    class="post-998 job_listing type-job_listing status-publish hentry col-xs-12 col-sm-6 col-md-4 style-grid">

                    <div class="content-box">

                        <div class="job-manager-form wp-job-manager-bookmarks-form">
                            <div class="bookmark-action">
                                <a class="bookmark-notice"
                                   href="https://listify-demos.astoundify.com/classic/my-account/">
                                    <span class="screen-reader-text">Login to bookmark this Listing</span>
                                </a>


		<span class="wp-job-manager-bookmarks-count wp-job-manager-bookmarks-count--archive">
							3					</span>
                            </div>
                        </div>

                        <a href="#/profile"
                           class="job_listing-clickbox"></a>

                        <header style="background-image: url(assets/prim2.png);"
                                class="job_listing-entry-header listing-cover has-image">

                            <div class="job_listing-entry-header-wrapper cover-wrapper">

                                <div class="job_listing-entry-thumbnail">
                                    <div style="background-image: url(https://17315-presscdn-0-68-pagely.netdna-ssl.com/classic/wp-content/uploads/sites/2/2016/05/Drake-Hotel-Facade-compressor.jpg);"
                                         class="list-cover has-image"></div>
                                </div>
                                <div class="job_listing-entry-meta">
                                    <h2 itemprop="name" class="job_listing-title">
                                        La Récré </h2>
                                    <div class="job_listing-location job_listing-location-formatted"><a
                                            class="google_map_link"
                                            href="http://maps.google.com/maps?daddr=43.6432048%2C-79.4246377"
                                            target="_blank"><span itemprop="address" itemscope
                                                                  itemtype="http://schema.org/PostalAddress">1150 <span
                                            itemprop="streetAddress">Queen Street West</span><br/><span
                                            itemprop="addressLocality">Toronto</span> <span
                                            itemprop="addressRegion">Ontario</span> <span
                                            itemprop="postalCode">M6J 1J3</span><br/><span
                                            itemprop="addressCountry">Canada</span></span></a></div>
                                    <div class="job_listing-phone">
                                        <span itemprop="telephone"><a href="tel:4165315042">416-531-5042</a></span>
                                    </div>

                                </div>

                            </div>

                        </header><!-- .entry-header -->

                        <footer class="job_listing-entry-footer">

                            <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"
                                 class="rating-0 job_listing-rating-wrapper" title="2 Reviews">
			<span class="job_listing-rating-stars">
				<span class="star-icon"><span class="ion-ios-star"></span></span><span class="star-icon"><span
                    class="ion-ios-star"></span></span><span class="star-icon"><span class="ion-ios-star"></span></span><span
                    class="star-icon"><span class="ion-ios-star"></span></span><span class="star-icon"><span
                    class="ion-ios-star-half"></span></span>			</span>

			<span class="job_listing-rating-average">
				<span itemprop="ratingValue">4.5</span>
				<meta itemprop="bestRating" content="5"/>
				<meta itemprop="worstRating" content="1"/>
			</span>
			<span class="job_listing-rating-count">
				<span itemprop="ratingCount">2</span> Reviews			</span>
                            </div>

                            <div class="listing-entry-company-image listing-entry-company-image--card listing-entry-company-image--type-logo listing-entry-company-image--style-circle">


                            </div>


                        </footer><!-- .entry-footer -->


                    </div>
                </li><!-- #post-## -->


                <li itemscope itemtype="http://schema.org/LocalBusiness" id="job_listing-989"
                    data-grid-columns="col-xs-12 col-sm-6 col-md-4" data-rating="0 Stars"
                    class="post-989 job_listing type-job_listing status-publish hentry col-xs-12 col-sm-6 col-md-4 style-grid">

                    <div class="content-box">

                        <div class="job-manager-form wp-job-manager-bookmarks-form">
                            <div class="bookmark-action">
                                <a class="bookmark-notice"
                                   href="https://listify-demos.astoundify.com/classic/my-account/">
                                    <span class="screen-reader-text">Login to bookmark this Listing</span>
                                </a>


		<span class="wp-job-manager-bookmarks-count wp-job-manager-bookmarks-count--archive">
							4					</span>
                            </div>
                        </div>

                        <a href="#/profile"
                           class="job_listing-clickbox"></a>

                        <header style="background-image: url(assets/o-COLE-TUNISIE-facebook.jpg);"
                                class="job_listing-entry-header listing-cover has-image">

                            <div class="job_listing-entry-header-wrapper cover-wrapper">

                                <div class="job_listing-entry-thumbnail">
                                    <div style="background-image: url(assets/16694179.jpg);"
                                         class="list-cover has-image"></div>
                                </div>
                                <div class="job_listing-entry-meta">
                                    <a href="#what-is-claimed" class="claimed-ribbon popup-trigger">
                                        <span class="ion-checkmark-circled"></span>
                                        <span class="tooltip">Verified Listing</span>
                                    </a>

                                    <div id="what-is-claimed" class="popup">
                                        <h2 class="popup-title">Verified Listing</h2>

                                        This listing is being maintained by its rightful owner.
                                    </div>
                                    <h2 itemprop="name" class="job_listing-title">
                                        Ecole primaire al riath Jerba </h2>
                                    <div class="job_listing-location job_listing-location-formatted"><a
                                            class="google_map_link"
                                            href="http://maps.google.com/maps?daddr=43.6412346%2C-79.3773697"
                                            target="_blank"><span itemprop="address" itemscope
                                                                  itemtype="http://schema.org/PostalAddress">10 <span
                                            itemprop="streetAddress">Bay Street</span><br/><span
                                            itemprop="addressLocality">Toronto</span> <span
                                            itemprop="addressRegion">Ontario</span><br/><span
                                            itemprop="addressCountry">Canada</span></span></a></div>
                                    <div class="job_listing-phone">
                                            <span itemprop="telephone"><a
                                                    href="tel:16473477347">+1 (647) 347-7347</a></span>
                                    </div>

                                </div>

                            </div>

                        </header><!-- .entry-header -->

                        <footer class="job_listing-entry-footer">

                            <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"
                                 class="rating-0 job_listing-rating-wrapper" title="3 Reviews">
			<span class="job_listing-rating-stars">
				<span class="star-icon"><span class="ion-ios-star"></span></span><span class="star-icon"><span
                    class="ion-ios-star"></span></span><span class="star-icon"><span class="ion-ios-star"></span></span><span
                    class="star-icon"><span class="ion-ios-star"></span></span><span class="star-icon"><span
                    class="ion-ios-star-outline"></span></span>			</span>

			<span class="job_listing-rating-average">
				<span itemprop="ratingValue">4.0</span>
				<meta itemprop="bestRating" content="5"/>
				<meta itemprop="worstRating" content="1"/>
			</span>
			<span class="job_listing-rating-count">
				<span itemprop="ratingCount">3</span> Reviews			</span>
                            </div>

                            <div class="listing-entry-company-image listing-entry-company-image--card listing-entry-company-image--type-logo listing-entry-company-image--style-circle">


                            </div>


                            <div id="what-is-claimed" class="popup">
                                <h2 class="popup-title">Verified Listing</h2>

                                This listing is being maintained by its rightful owner.
                            </div>

                        </footer><!-- .entry-footer -->


                    </div>
                </li><!-- #post-## -->

            </ul>

        </aside>

    </div>


    <div class="container">


        <style>
            #listify_call_to_action-2 .call-to-action {
                color: #717a8f;
                background-color: #f9f9f9;
            }

            #listify_call_to_action-2:after {
                background-color: #f9f9f9;
            }

            #listify_call_to_action-2 .cta-description p,
            #listify_call_to_action-2 .cta-subtext {
                color: #7b8499
            }
        </style>

        </aside>
    </div>


</div><!-- #content -->