<div id="content" class="site-content">


    <div class="single_job_listing" itemscope itemtype="http://schema.org/LocalBusiness"
         data-grid-columns="col-xs-12 col-sm-6" data-rating="0 Stars"
         class="post-1299 job_listing type-job_listing status-publish hentry job_position_featured listing-featured--badge col-xs-12 col-sm-6 style-grid">

        <div style="background-image: url(assets/prim2.png);"
             class="listing-hero--company-logo listing-cover listing-cover--gradient content-single-job_listing-hero has-image">


            <div class="content-single-job_listing-hero-wrapper cover-wrapper container">

                <div class="content-single-job_listing-hero-inner row">

                    <div class="content-single-job_listing-hero-company col-md-7 col-sm-12">

                        <div class="listing-entry-company-image listing-entry-company-image--single listing-entry-company-image--type-logo listing-entry-company-image--style-circle">

                            <img class=""
                                 src="assets/logo-ecole.png"
                                 alt="The Hoxton"/>

                        </div>

                        <h1 itemprop="name" class="job_listing-title">
                            La Récré </h1>
                        <div class="job_listing-location job_listing-location-formatted"><a class="google_map_link"
                                                                                            href="http://maps.google.com/maps?daddr=43.6435899%2C-79.4022922"
                                                                                            target="_blank"><span
                                itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> 14, Rue Ahmed Amine – El Omrane (france ville) Tunis</a>
                        </div>
                        <div class="content-single-job_listing-title-category">

                            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a
                                    href="https://listify-demos.astoundify.com/classic/listing-category/nightlife/"
                                    rel="tag" itemprop="url"><span itemprop="title">Primaire</span></a></span></div>

                        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"
                             class="rating-0 job_listing-rating-wrapper" title="2 Reviews">
			<span class="job_listing-rating-stars">
				<span class="star-icon"><span class="ion-ios-star"></span></span><span class="star-icon"><span
                    class="ion-ios-star"></span></span><span class="star-icon"><span class="ion-ios-star"></span></span><span
                    class="star-icon"><span class="ion-ios-star"></span></span><span class="star-icon"><span
                    class="ion-ios-star-half"></span></span>			</span>

			<span class="job_listing-rating-average">
				<span itemprop="ratingValue">4.5</span>
				<meta itemprop="bestRating" content="5"/>
				<meta itemprop="worstRating" content="1"/>
			</span>
			<span class="job_listing-rating-count">
				<span itemprop="ratingCount">2</span> Reviews			</span>
                        </div>
                        <div class="job-manager-form wp-job-manager-bookmarks-form">
                            <div class="bookmark-action">
                                <a class="bookmark-notice"
                                   href="https://listify-demos.astoundify.com/classic/my-account/">
                                    <span class="screen-reader-text">Login to bookmark this Listing</span>
                                </a>


		<span class="wp-job-manager-bookmarks-count wp-job-manager-bookmarks-count--single">
							11 Favorites					</span>
                            </div>
                        </div>
                    </div>

                    <div class="content-single-job_listing-hero-actions col-md-5 col-sm-12">

                        <div class="content-single-job_listing-actions-start">
                            <div class="popup share-popup" id="share-1299">
                                <h3 class="popup-title">Share</h3>
                                <div class="sharedaddy sd-sharing-enabled">
                                    <div class="robots-nocontent sd-block sd-social sd-social-icon sd-sharing"><h3
                                            class="sd-title">Share</h3>
                                        <div class="sd-content">
                                            <ul>
                                                <li class="share-twitter"><a rel="nofollow"
                                                                             data-shared="sharing-twitter-1299"
                                                                             class="share-twitter sd-button share-icon no-text"
                                                                             href="https://listify-demos.astoundify.com/classic/listing/the-hoxton/?share=twitter"
                                                                             target="_blank"
                                                                             title="Click to share on Twitter"><span></span><span
                                                        class="sharing-screen-reader-text">Click to share on Twitter (Opens in new window)</span></a>
                                                </li>
                                                <li class="share-facebook"><a rel="nofollow"
                                                                              data-shared="sharing-facebook-1299"
                                                                              class="share-facebook sd-button share-icon no-text"
                                                                              href="https://listify-demos.astoundify.com/classic/listing/the-hoxton/?share=facebook"
                                                                              target="_blank"
                                                                              title="Click to share on Facebook"><span></span><span
                                                        class="sharing-screen-reader-text">Click to share on Facebook (Opens in new window)</span></a>
                                                </li>
                                                <li class="share-google-plus-1"><a rel="nofollow"
                                                                                   data-shared="sharing-google-1299"
                                                                                   class="share-google-plus-1 sd-button share-icon no-text"
                                                                                   href="https://listify-demos.astoundify.com/classic/listing/the-hoxton/?share=google-plus-1"
                                                                                   target="_blank"
                                                                                   title="Click to share on Google+"><span></span><span
                                                        class="sharing-screen-reader-text">Click to share on Google+ (Opens in new window)</span></a>
                                                </li>
                                                <li class="share-email"><a rel="nofollow" data-shared=""
                                                                           class="share-email sd-button share-icon no-text"
                                                                           href="https://listify-demos.astoundify.com/classic/listing/the-hoxton/?share=email"
                                                                           target="_blank"
                                                                           title="Click to email this to a friend"><span></span><span
                                                        class="sharing-screen-reader-text">Click to email this to a friend (Opens in new window)</span></a>
                                                </li>
                                                <li class="share-end"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <a href="#/profile#respond" class="single-job_listing-respond button button-secondary">Partager
                            votre
                            avis !</a>


                    </div>

                </div>

            </div>


            <div class="single-job_listing-cover-gallery">
                <div class="single-job_listing-cover-gallery-slick">
                </div>
            </div>


        </div>

        <div id="primary" class="container">
            <div class="row content-area">


                <main id="main" class="site-main col-xs-12 col-sm-7 col-md-8" role="main">


                    <aside id="taux-admis"
                           class="widget widget-job_listing listify_widget_panel_listing_content">
                    </aside>
                    <aside id="taux-reussite-niveau"
                           class="widget widget-job_listing listify_widget_panel_listing_content"
                    ></aside>

                    <div id="comments" class="comments-area widget widget-job_listing">

                        <h3 class="comment-sorting">Tier par :</h3>
                        <form action="#comments" method="get" class="comment-sorting-filter-form">
                            <select name="sort-comments" class="comment-sorting-filter">
                                <option value="date-desc">Newest First</option>
                                <option value="date-asc">Oldest First</option>
                                <option value="rating-desc">Rating (High-Low)</option>
                                <option value="rating-asc">Rating (Low-High)</option>
                            </select>
                        </form>

                        <ol class="commentlist">
                            <li ng-repeat="comment in comments" class="comment even thread-even depth-1" id="comment-70"
                                itemprop="review" itemscope
                                itemtype="http://schema.org/Review">
                                <article id="comment-70" class="comment row">
                                    <header class="comment-author vcard col-md-2 col-sm-3 col-xs-12">

                                        <img alt=''
                                             src='assets/image_yassine.jpg' style="width: 88px;height: 88px;"
                                             srcset='https://secure.gravatar.com/avatar/e072a91cedde0442c90b35231a1ba837?s=200&amp;r=g 2x'
                                             class='avatar avatar-100 photo' height='100' width='100'/>
                                    </header><!-- .comment-meta -->

                                    <section class="comment-content comment col-md-10 col-sm-9 col-xs-12">
                                        <cite itemprop="author" itemscope itemtype="http://schema.org/Person"><b
                                                class="fn" itemprop="name">{{comment.user.firstName}}
                                            {{comment.user.lastName}}</b>
                                        </cite>
                                        <div class="comment-meta">

                                            <a rel='nofollow' class='comment-reply-link'
                                               href
                                               aria-label='Reply to Spencer'><i
                                                    class="ion-ios-chatboxes-outline"></i></a>

                                            <div itemprop="reviewRating" itemscope
                                                 itemtype="http://schema.org/Rating" class="comment-rating">
                                                <span itemprop="ratingValue">{{comment.rate}}</span>
                                            </div>
                                                <span class="rating-stars"><span class="star-icon"><span
                                                        ng-class="{'ion-ios-star' : comment.rate>=1 , 'ion-ios-star-outline' : comment.rate<1 }"></span></span><span
                                                        class="star-icon"><span
                                                        ng-class="{'ion-ios-star' : comment.rate>=2 , 'ion-ios-star-outline' : comment.rate<2 }"></span></span><span
                                                        class="star-icon"><span
                                                        ng-class="{'ion-ios-star' : comment.rate>=3 , 'ion-ios-star-outline' : comment.rate<3 }"></span></span><span
                                                        class="star-icon"><span
                                                        ng-class="{'ion-ios-star' : comment.rate>=4 , 'ion-ios-star-outline' : comment.rate<4 }"></span></span><span
                                                        class="star-icon"><span
                                                        ng-class="{'ion-ios-star' : comment.rate>=5 , 'ion-ios-star-outline' : comment.rate<5 }"></span></span></span>
                                        </div>


                                        <div itemprop="reviewBody"><p>{{comment.content}}</p>
                                        </div>


                                        <a href="https://listify-demos.astoundify.com/classic/listing/the-hoxton/#comment-70"
                                           class="comment-ago">
                                            <time datetime="2016-05-25T04:07:18+00:00" itemprop="datePublished">
                                                {{comment.date}}
                                            </time>
                                        </a></section><!-- .comment-content -->
                                </article><!-- #comment-## -->
                            </li><!-- #comment-## -->

                        </ol><!-- .commentlist -->


                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title"><span
                                    class="ion-ios-compose-outline"></span>Partager votre avis !
                                <small><a rel="nofollow" id="cancel-comment-reply-link"
                                          href="/classic/listing/the-hoxton/#respond" style="display:none;">Cancel
                                    reply</a></small>
                            </h3>
                            <form
                                    method="post" id="commentform" class="comment-form" novalidate>
                                <p class="star-rating-wrapper comment-form-rating comment-form-rating--listify"><span
                                        class="star-rating-label">Pédagogie</span><span class="stars"><a class="star"
                                                                                                         href=""
                                                                                                         data-rating="5"></a><a
                                        class="star" href="" data-rating="4"></a><a class="star active" href=""
                                                                                    data-rating="3"></a><a class="star"
                                                                                                           href=""
                                                                                                           data-rating="2"></a><a
                                        class="star" href="" data-rating="1"></a></span></p>

                                <p class="star-rating-wrapper comment-form-rating comment-form-rating--listify"><span
                                        class="star-rating-label">Sécurité</span><span class="stars"><a class="star"
                                                                                                        href=""
                                                                                                        data-rating="5"></a><a
                                        class="star" href="" data-rating="4"></a><a class="star active" href=""
                                                                                    data-rating="3"></a><a class="star"
                                                                                                           href=""
                                                                                                           data-rating="2"></a><a
                                        class="star" href="" data-rating="1"></a></span></p>
                                <p class="star-rating-wrapper comment-form-rating comment-form-rating--listify"><span
                                        class="star-rating-label">Vie extrascolaire</span><span class="stars"><a
                                        class="star"
                                        href=""
                                        data-rating="5"></a><a
                                        class="star" href="" data-rating="4"></a><a class="star active" href=""
                                                                                    data-rating="3"></a><a class="star"
                                                                                                           href=""
                                                                                                           data-rating="2"></a><a
                                        class="star" href="" data-rating="1"></a></span></p>
                                <p class="star-rating-wrapper comment-form-rating comment-form-rating--listify"><span
                                        class="star-rating-label">Moyens de transport</span><span class="stars"><a
                                        class="star"
                                        href=""
                                        data-rating="5"></a><a
                                        class="star" href="" data-rating="4"></a><a class="star active" href=""
                                                                                    data-rating="3"></a><a class="star"
                                                                                                           href=""
                                                                                                           data-rating="2"></a><a
                                        class="star" href="" data-rating="1"></a></span></p>
                                <p class="star-rating-wrapper comment-form-rating comment-form-rating--listify"><span
                                        class="star-rating-label">Hygiéne</span><span class="stars"><a class="star"
                                                                                                       href=""
                                                                                                       data-rating="5"></a><a
                                        class="star" href="" data-rating="4"></a><a class="star active" href=""
                                                                                    data-rating="3"></a><a class="star"
                                                                                                           href=""
                                                                                                           data-rating="2"></a><a
                                        class="star" href="" data-rating="1"></a></span></p>
                                <p class="comment-form-comment"><label for="comment">Comment</label> <textarea
                                        ng-model="comment.content" id="comment" name="comment" cols="45" rows="8"
                                        maxlength="65525"
                                        aria-required="true" required="required"></textarea></p>
                                <p class="comment-form-author"><label for="name">Nom <span
                                        class="required">*</span></label>
                                    <input ng-model="comment.firstName" id="name" name="author" type="text" value=""
                                           size="30" maxlength="245"
                                           aria-required='true' required='required'/></p>
                                <p class="comment-form-author"><label for="lastName">Prénom <span
                                        class="required">*</span></label>
                                    <input ng-model="comment.lastName" id="lastName" name="lastName" type="text"
                                           value=""
                                           size="30" maxlength="245"
                                           aria-required='true' required='required'/></p>
                                <p class="comment-form-email"><label for="email">Email <span
                                        class="required">*</span></label> <input id="email" name="email" type="email"
                                                                                 value="" size="30" maxlength="100"
                                                                                 aria-describedby="email-notes"
                                                                                 aria-required='true'
                                                                                 required='required'/></p>
                                <p class="form-submit"><input ng-click="addComment()" name="submit" type="submit"
                                                              id="submit" class="submit"
                                                              value="Partager !"/> <input type='hidden'
                                                                                          name='comment_post_ID'
                                                                                          value='1299'
                                                                                          id='comment_post_ID'/>
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0'/>
                                </p>
                                <p style="display: none;"><input type="hidden" id="akismet_comment_nonce"
                                                                 name="akismet_comment_nonce" value="df25c1b43b"/></p>
                                <p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="237"/></p>
                            </form>
                        </div><!-- #respond -->

                    </div><!-- #comments -->


                </main>

                <div id="secondary" class="widget-area col-md-4 col-sm-5 col-xs-12" role="complementary">
                    <aside id="listify_widget_panel_listing_map-1"
                           class="widget widget-job_listing listify_widget_panel_listing_map">
                        <div class="map-widget-sections">

                            <div class="map-widget-section map-widget-section--split">
                                <div id="listing-contact-map">
                                    <img src="assets/1.png">
                                </div>
                            </div>

                            <div class="map-widget-section map-widget-section--split">
                                <div class="job_listing-location job_listing-location-formatted"><a
                                        class="google_map_link"
                                        href="http://maps.google.com/maps?daddr=43.6435899%2C-79.4022922"
                                        target="_blank"><span itemprop="address" itemscope
                                                              itemtype="http://schema.org/PostalAddress">14 <span
                                        itemprop="streetAddress">Rue Ahmed Amine</span><br/><span
                                        itemprop="addressLocality">El Omrane (france ville) Tunis</span><br/></a>
                                </div>
                                <div class="job_listing-phone">
                                    <span itemprop="telephone"><a href="tel:4164567321">(416) 456-7321</a></span>
                                </div>


                                <div class="job_listing-url">
                                    <span itemprop="url"><a href="http://www.larecre-tn.com/" rel="nofollow"
                                                            target="_blank">larecre-tn.com</a></span>
                                </div>


                            </div>

                        </div>

                    </aside>
                    <aside id="listify_widget_panel_listing_social_profiles-2"
                           class="widget widget-job_listing listify_widget_panel_listing_social_profiles"><h2
                            class="widget-title widget-title-job_listing ion-ios-chatboxes-outline">Profile Social</h2>
                        <ul class="social-profiles">
                            <li><a href target="_blank" class="ion-social-twitter">Twitter
                                URL</a></li>
                            <li><a href target="_blank"
                                   class="ion-social-facebook">Facebook URL</a></li>
                            <li><a href target="_blank"
                                   class="ion-social-instagram">Instagram URL</a></li>
                        </ul>
                    </aside>
                    <aside id="listify_widget_panel_listing_business_hours-1"
                           class="widget widget-job_listing listify_widget_panel_listing_business_hours"><h2
                            class="widget-title widget-title-job_listing ion-ios-clock-outline"></h2>
                        <p class="business-hour" itemprop="openingHours" content="Monday 17pm-0am">
                            <span class="day">Materiel d'experimentation</span>
        <span class="business-hour-time">
                            Oui                    </span>
                        </p>
                        <p class="business-hour" itemprop="openingHours" content="Tuesday 17pm-0am">
                            <span class="day">Salle de permanence</span>
        <span class="business-hour-time">
                            Non                    </span>
                        </p>
                        <p class="business-hour" itemprop="openingHours" content="Wednesday 17pm-0am">
                            <span class="day">Salle de sport</span>
        <span class="business-hour-time">
                            Oui                    </span>
                        </p>
                        <p class="business-hour" itemprop="openingHours" content="Thursday 17pm-0am">
                            <span class="day">Accés Internet</span>
        <span class="business-hour-time">
                            Non                    </span>
                        </p>
                        <p class="business-hour" itemprop="openingHours" content="Friday 22pm-2am">
                            <span class="day">Cantine</span>
        <span class="business-hour-time">
                            <span class="start">Non</span>
                    </span>
                        </p>


                    </aside>
                    <aside id="listify_widget_panel_listing_gallery-1"
                           class="widget widget-job_listing listify_widget_panel_listing_gallery"><h2
                            class="widget-title widget-title-job_listing ion-ios-camera-outline"><a
                            href="https://listify-demos.astoundify.com/classic/listing/the-hoxton/gallery/"
                            class="image-gallery-link">Photo Gallery</a></h2>
                        <ul class="listify-gallery-images">
                            <li class="gallery-preview-image"
                                style="background-image:url(assets/prim1.png); ">
                                <a href="https://listify-demos.astoundify.com/classic/listing/the-hoxton/gallery/#https://listify-demos.astoundify.com/classic/listing/the-hoxton/the-hoxton-2/"></a>
                            </li>
                            <li class="gallery-preview-image"
                                style="background-image:url(assets/prim2.png); ">
                                <a href="https://listify-demos.astoundify.com/classic/listing/the-hoxton/gallery/#https://listify-demos.astoundify.com/classic/listing/the-hoxton/img_0190-45-1200x800/"></a>
                            </li>
                        </ul>

                        <style>
                            .gallery-preview-image {
                                border-radius: 50%;
                                width: 60px;
                                height: 60px;
                                margin: 0 6px 12px;
                                display: inline-block;
                                background-size: cover;
                            }

                            .gallery-preview-image a {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }

                            .gallery-preview-image:nth-child(4n) {
                                margin-right: 0;
                            }
                        </style>
                    </aside>


                </div><!-- #secondary -->

            </div>
        </div>
    </div>


</div><!-- #content -->

